
.NavBar {
    background-color: antiquewhite;
    display: flex;
    height: 5em;
    justify-content: space-between;
    align-items: center;
    padding: 23px
}

.NavBar > span {
    font-weight: bolder;
    font-size: 24px;
}

span > a {
    color: black;
}

.navLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.navLinks > a {
    color: rgb(90, 90, 90);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: black;
}