body {
    background-color: antiquewhite;
}

.vanMain > h2 {
    margin-left: 20px;
}

.vanData {
    display: grid;
    justify-items: center;
    gap: 30px;
    margin-top: 57px;
    margin-bottom: 10px;
}

.vanItem {
    max-width: 30vw;
}

.vanItem img {
    max-width: 100%;
    border-radius: 10px;
}

.vanType button {
    color: antiquewhite;
}

.vanType.simple button {
    background-color: rgb(204, 101, 5);
}

.vanType.rugged button {
    background-color: rgb(5, 73, 11);
}



@media (min-width: 800px){
    .vanMain {
    margin: 25px
}
    .vanData {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
}

@media (max-width: 799px){
    .vanData {
    grid-template-columns: 1fr 1fr;
}
}