.vanContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
}

.vanContainer img {
  max-width: 100%;
  height: auto;
}


.vanTypeD {
  color: antiquewhite;
}

.vanTypeD.simple {
  background-color: rgb(204, 101, 5);
}

.vanTypeD.rugged {
  background-color: rgb(5, 73, 11);
}

.vanPrice {
  font-weight: bolder;
  font-size: 20px;
}

.rentVan {
  background-color: rgb(248, 133, 39);
  color: white;
}

@media (min-width: 660px) {
  .vanContainer {
    width: 600px;
    margin: auto;


  }


}